@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --color-white: #fff;
    --color-pink: #d12f7a;
    --color-black: black;
    --color-blue: blue;
    --color-purple: purple;
    --color-gray: gray;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
}
/* atalho para comentario CTRL + ; */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 15px 30px;
    position: fixed;
    z-index: 2;
}

.header-title {
    text-decoration: none;
}

.header-title h1 {
    color: white;
    font-size: 2.1rem;
    transition: opacity 0.3s ease;
}

.header-title h1:hover {
    opacity: .8;

}

.navbar {
    max-width: 350px;
    width: 100%;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    transition: opacity 0.3s ease;

}

.navbar ul li a:hover {
    opacity: .8;
}

#person {
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;

    background: var(--color-black);
}

.person-content {
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    background: var(--color-black);
}

.person-content div h1 {
    padding: 0px 4px;
    color: transparent;

    position: relative;
    width: fit-content;

    font-size: 4.5rem;
    line-height: 6rem;

    animation: written_text .5s ease forwards;
}

.person-content div h1:nth-child(1){
    animation-delay: 1s;
}
.person-content div h1:nth-child(2){
    animation-delay: 2s;
}
.person-content div h1:nth-child(3){
    animation: written_text_nome .5s ease forwards;
    animation-delay: 3s;
}

.person-content div h1 span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 60px ;
    background: var(--color-gray);

    animation: written_text_box 1s ease;
    animation-delay: .5s;
}

.person-content div h1:nth-child(1) span{
    animation-delay: .5s;
}
.person-content div h1:nth-child(2) span{
    animation-delay: 1.5s;
}
.person-content div h1:nth-child(3) span{
    animation-delay: 2.5s;
}

.person-name {
    margin-top: 11rem;
}

.stack-content {
    display: flex;
    /* align-items: center; */
    justify-content: center;


    flex-direction: column;
    margin-top: 6rem;
}
.stack-content h3 {
    color: var(--color-white);
    font-size: 1..15rem;

    margin-left: 20px;
}

.stack ul{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.stack ul li {
    display: flex;
    align-items: center;

    position: relative;

    margin: 5px;
    padding: 3px;
    flex-direction: row;
    
}

.stack ul li img {
   width: 30px;
   height: auto;

   transition: transform .3s ease;

    
}

.stack ul li div img:hover {
    transform: scale(1.2);
    cursor: pointer;   

}

.stack ul li div:hover::after{
    content: attr(data);
    position:absolute;
    top: 40px;
    left: 4px;

    width: 20px;
    height: 20px;

    color: var(--color-white);

}

.person-background {
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    background-image: url(/Portfólio/imagem/fundo3.jpg);
    background-size: cover;
    background-position: top center;

    z-index: 0;
}

.person-background::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    opacity: .9;
    z-index: -1;

    background: 
        linear-gradient(270deg, transparent 50%, var(--color-black)),
        linear-gradient(180deg, transparent 30%, var(--color-black)),
        linear-gradient(0deg, transparent 0%, var(--color-black));

}

.wrapper-profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 14px;
    margin: 20px 15px;

    border-radius: 50%;
    background: 
        radial-gradient(rgba(0,0,0,0.15) 60%, transparent 0),
        radial-gradient(#000 70%, transparent 0), 
        linear-gradient(to top right, #4c00ff 0%, #14bcff 100%)

}

.profile-photo {
    width: 100%;
    border-radius: 50%;
    
}

.links a img {
    width: 30px;
    height: auto;

    margin: 10px;
    filter: brightness(.8);
    transition: all .3s ease;
}
.links a img:hover {
    transform: scale(1.3);
    filter: brightness(2);
}

#about{
    height: 100%;
    width: 100%;
    background: var(--color-black);

    display: flex;
    color: var(--color-white);
}

.background-about{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper{
    height:100%;
    width: 100%;

    position: relative;
}

.img-wrapper::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background: 
        linear-gradient(90deg, transparent 40%, var(--color-black)),
        linear-gradient(180deg, transparent 90%, var(--color-black)),
        linear-gradient(0deg, transparent 70%, var(--color-black));
}

.img-wrapper img{
    height: 100%;
    width: 100%;

    object-fit: cover;
}

.box-about {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 50%;

    padding: 3rem;
}

.section-subtitle h2 p {
    display: inline-block;
    font-size: 3rem;
    margin-top: 25px;

}

.section-subtitle h2 p:nth-child(2) span{
    padding: 3px 5px;
    border-radius: 4px;

    color: var(--color-black);
    background: whitesmoke;
}

.box-about h3 {
    margin: 3rem;
    font-size: 2rem;
}

.box-about h3 p{
    display: inline-block;

    width: fit-content;
    padding: 2px 4px;
    border-radius: 4px;

    color: var(--color-black);
    background: var(--color-gray);
}

.box-about h4 {
    margin: 10px 3rem;
    font-size: 1.5rem;
}

.box-about h4 p {
    display: inline;
    padding: 2px 4px;

    color: red;
    font-size: bold;
    font-weight: 1.50rem;
}

.button-cta {
    display: flex;

    max-width: 190px;
    margin: 1rem 3rem;
}

.button-cta button {
    display: inline-block;
    width: 100%;
    max-width: 172px;

    padding: 10px;
    margin-bottom: 2rem;

    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: .15rem;

    border-radius: 10px;
    cursor: pointer;
}

.button-cta button:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all .3s ease;
}

#projects {
    height: 100vh;
    width: 100%;
    background: black;

    display: flex;
    flex-direction: column;
    
}

.projetos h2 {
    margin: 4rem;
    padding: 1rem;

    font-size: 3rem;
    color: white;
    
    
    
}

.wrapper-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    margin-top: 2rem;
    
    height: 500px;
   
    
}

.card-projects {
    width: 320px;
    height: 450px;

    padding: 30px 20px 20px;
    margin: 0px 10px;

    background: wheat;

    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
    

}

.card-projects ::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    height: 40%;
    width: 100%;

    background: rgb(71, 1, 71);
    border-radius: 20px 20px 0px 0px;
    z-index: -1;
}

.content-project {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 0;
}
.img-projeto{
    height: 240px;
    width: 250px;

    border-radius: 30px;

    overflow: hidden;

    border: 4px solid var(--color-purple);

    position: relative;

    z-index: 1;

    margin: 0 auto;
}

.img-projeto img {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    border: 3px solid var(--color-white);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;

    transition: transform .3s ease-out;
    cursor: pointer;    
}

.img-projeto img:hover {
    transform: scale(1.1);
}

.content-project span {
    color: black;
    font-weight: bold;
    font-size: 1.7rem;

    margin: .75rem auto .5rem auto;
}

.content-project p {
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0rem .75rem;
}

.cta-project {
    width: 200px;
    margin: auto auto 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.cta-project a {
    padding: 5px 16px;
    font-size: 1.35rem;
    color: var(--color-white);
    background: var(--color-purple);

    border-radius: 10px;
    text-decoration: none;
    transition: opacity .3s ease;
}

.cta-project a:hover {
    opacity: .7;
}

#contacts {
    display: flex;
    flex-direction: column;

    height: 40vh;
    width: 100%;

    background: black;
    color: white;
}

.contact-icon-content h2 {
    margin: 3rem;
    padding: 1rem;

    font-size: 3rem;
    color: white;
}

.contact-icons-warpper {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.contact-icons-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0rem 3rem;
    padding: 1rem;
}

.contact-icon {
    height: 40px;
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 2rem;

    background: white;
    padding: 3rem;
    border-radius: 50%;
}

.contact-icon i {
    font-size: 3rem;
    color: purple;

}

.contct-info span {
    font-size: 1.5rem;
    font-weight: bold;
}

.contct-info p {
    margin: .3rem 0rem;
    font-size: 1.2rem;
}

.contct-info a{
    display: block;
    margin: .25rem 0rem;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.contct-info a:hover {
    color: blue;
    transition: color .3s ease;
}

#footer {
    height: auto;
    width: 100%;
  
    padding: calc(3vw + 1rem) 0vw;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-top: auto;
  
    background: #191919;
  }
  
  .container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  
    flex-direction: column;
  
    color: var(--color-white);
  
  }

@keyframes written_text {
    100%{
        color: var(--color-white);
    }
}

@keyframes written_text_nome {
    100%{
        color: var(--color-purple);
    }
}

@keyframes written_text_box {
    50%{
        width: 100%;
        left: 0;
    }

    100%{
        width: 0;
        left: 100%;
    }
}